<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/133582ff-289a-4b08-a109-e5cdb764b06b/resourcegroups/RoomRentalWebAPI20200912215543ResourceGroup/providers/Microsoft.Web/sites/RoomRentalWebAPI20200912215543</ResourceId>
    <ResourceGroup>RoomRentalWebAPI20200912215543ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://roomrentalwebapi20200912215543.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://roomrentalwebapi20200912215543.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>85f0f5be-8b95-4b3b-b6b1-248e68aa92e5</ProjectGuid>
    <MSDeployServiceURL>waws-prod-db3-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RoomRentalWebAPI20200912215543</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RoomRentalWebAPI20200912215543</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>